.about_me {
    background-color: $text__light;
}

@mixin image_dim($width, $height) {
    .hero {
        .image {
            width: $width;
            height: $height;
        }
        &__image {
            width: $width;
            height: $height;
        }   
        &__background {
            width: $width;
            height: $height;
        }
    }
}

.presentation--home {
    font-size: 2.5rem;
}

.hero {
    display: flex;
    align-items: center;

    &__image {
        position: relative;
        transition: all .4s ease-in-out;
        filter: grayscale(90%);
        &:hover{
            filter: grayscale(10%);
        }
    }

    &__background {
        position: absolute;
        background-color: $bckg__darkest;
        clip-path: polygon(0 0, 31% 0, 70% 100%, 0% 100%);
    }
}

@media screen and  (min-width: 550px) {
    @include image_dim(392px, 418px);
}
@media screen and (max-width: 550px) {
    @include image_dim(327px, 358px);
}